1) Obtenha o nome e o salário dos professores que possuem um salário entre 2500 e 4000 (inclusive estes valores), em ordem decrescente de salário.

In [ ]:
SELECT nome_professor, salario
FROM professor
WHERE salario BETWEEN 2500 and 4000
ORDER BY salario DESC

2) Obtenha o nome e a idade dos alunos cujo nome contenha a letra “i” e que tenha mais de 19 anos, em ordem crescente do nome do aluno.

In [ ]:
SELECT nome_aluno, idade
FROM aluno
WHERE nome_aluno ILIKE '%i%'
    AND idade > 19
ORDER BY nome_aluno ASC

3) Obtenha a média de idade e a quantidade de alunos do curso de código igual a 1001.

In [ ]:
SELECT avg(idade) as media_idade,
    count(matricula) as numero_de_alunos
FROM aluno
WHERE cod_curso = 1001

4) Obtenha a nota média que o aluno de matrícula igual a 1 teve nas disciplinas que ele já cursou.

In [ ]:
SELECT avg(nota) as nota_media
FROM aluno_disc
WHERE matricula = 1

5) Obtenha, para cada matrícula de aluno, a nota média e a quantidade de disciplinas que cada um já cursou (considere somente os alunos que já cursaram alguma disciplina).

In [ ]:
SELECT matricula,
    avg(nota) as nota_media,
    count(DISTINCT(cod_disciplina)) as disciplinas_cursadas
FROM aluno_disc
GROUP BY matricula
ORDER BY nota_media desc